:root {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  --fonte-poppins: 'Poppins', sans-serif;
  --fonte-ubuntu: 'Ubuntu', sans-serif;
  --cor-fonte: #333;
  --cor-fundo: #fff;
  --cor-destaque: #5369f8 !important;
  --cor-destaque-bg: #19204d !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte-ubuntu);
  color: var(--cor-fonte);
}

.highlight-blue {
  background-color: var(--cor-destaque-bg);
  padding: 50px 0;
  height: 100vh;
  align-items: center !important;
  display: flex;
}

.text-theme {
  font-family: var(--fonte-poppins);
  color: var(--cor-destaque);
}

.btn-apptodo {
  color: #fff;
  background-color: var(--cor-destaque);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: .375rem .75rem;
  font-size: 1.2rem;
  border-radius: .25rem;
}

.signup-splash-block {
  padding: 0;
  height: 100%;
  position: relative;
  background-image: url("../img/signup_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-splash-block {
  padding: 0;
  height: 100%;
  position: relative;
  background-image: url("../img/login_img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-fonte: #fff;
    --cor-fundo: #000;
  }
}

.card {
  background-color: var(--cor-fundo);
}

.form-control {
  border: 3px solid #ced4da;
  background-color: var(--cor-fundo);
  color: var(--cor-fonte);
}

.form-control:focus {
  color: var(--cor-fonte);
  background-color: var(--cor-fundo);
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 .25rem var(--cor-destaque);
}

